body {
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
ul {
    padding: 0;
}
.a {
    color: #1a5ca0;
}
.logo {
    padding: 20px 40px;
    margin: 0;
}
.mgt20 {
    margin-top: 20px;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.menu {
    display: inline-block;
}

.navbar {
    overflow: hidden;
}
.navbar .menu a, .navbar .menu button{
    color: #1a5ca0;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
} 
.navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.subnav {
    float: left;
    overflow: hidden;
}
  
.subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 17px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #1b5ba2;
    color: #ffffff;
}
.subnavbtn.active {
    background-color: #1b5ba2;
}

button.subnavbtn.active {
    color: #ffffff;
}
.menu a.active {
    background-color: #1b5ba2;
    color: #ffffff;
}
  
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}
.subnav-content.show{
    display: block;
}
  
.navbar .subnav-content a {
    float: left;
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    padding-top: 14px;
}
  
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}
.bg-skyblue {
    background-color: #dee8f1;
}
.height-50 {
    height: 50px;
}
.bg-gray {
    background-color: #f5f5f5;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}