body {
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
ul li {
    list-style: none;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.nav {
    min-width: 768px;
    text-align: center;
    white-space: nowrap;
}
.navbar {
    padding: 0px;
}
.navbar .dropdown.active {
    color: #555;
    background-color: #1b5ba2;
}
.bg-skyblue {
    background-color: #dee8f1;
}
.bg-gray {
    background-color: #f5f5f5;
}
.height-50 {
    height: 50px;
}
.collapsing {
    display:none;
}
.collapse:not(.show) {
    display: none;
}
.navbar-nav li {
    padding: 10px 0px;
    text-align: center;
}
.navbar-nav {
    display: flex;
}
.navbar-nav li a{
    color: #1a5ca0;
    font-weight: bold;
    padding: 0px 20px;
}
.navbar-nav li a:hover { 
    text-decoration: none;
}
.dropdown.active a {
    color: #FFFFFF;
}
.logo {
    padding: 20px 40px;
    margin: 0;
}
.mgt20 {
    margin-top: 20px;
}
.align-center {
    text-align: center;
}
.dropdown {
    position: relative;
}
.dropdown .dropdown-menu {
    overflow: hidden;
}
.dropdown.active a.dropdown-item {
    color: #1a5ca0;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
}
.dropdown.active .dropdown-menu{
    display: block;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.navbar-nav li a.dropdown-item {
    padding: 5px 25px;
}
.navbar-nav li a.dropdown-item:hover {
    background-color: #dee8f1;
}
@media screen and (max-width: 767px) {
    .navbar {
      display: none;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}