body {
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
ul li {
    list-style: none;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.nav {
    min-width: 768px;
    overflow: auto;
    text-align: center;
    white-space: nowrap;
}
.navbar {
    padding: 0px;
}
.navbar .dropdown.active {
    color: #555;
    background-color: #1b5ba2;
}
.bg-skyblue {
    background-color: #dee8f1;
}
.bg-gray {
    background-color: #f5f5f5;
}
.height-50 {
    height: 50px;
}
.collapsing {
    display:none;
}
.collapse:not(.show) {
    display: none;
}
.navbar-nav li {
    padding: 10px 0px;
    margin: 0 10px;
    display: inline-block;
    text-align: center;
}
.navbar-nav li a{
    color: #1a5ca0;
    font-weight: bold;
}
.navbar-nav li a:hover { 
    text-decoration: none;
}
.navbar li.dropdown.active a {
    color: #FFFFFF;
}
.submenu li a {
    font-weight: normal;
    font-size: .8rem;
}
.logo {
    padding: 20px 40px;
    margin: 0;
}
.mgt20 {
    margin-top: 20px;
}
.align-center {
    text-align: center;
}
.submenu.align-center ul li {
    text-align: center;
}
@media screen and (max-width: 767px) {
    .navbar {
      display: none;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}