.navbar {
    padding: 0px;
}
.navbar .dropdown.active {
    color: #555;
    background-color: #1b5ba2;
}
.bg-skyblue {
    background-color: #dee8f1;
}
.bg-gray {
    background-color: #f5f5f5;
}
.height-50 {
    height: 50px;
}
.collapsing {
    display:none;
}
.navbar-nav li {
    padding: 10px 0px;
}
.navbar-nav li a{
    color: #1a5ca0;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
}
.navbar-nav li a:hover { 
    text-decoration: none;
}
.navbar li.dropdown.active a {
    color: #FFFFFF;
}
.submenu li a {
    font-weight: normal;
    font-size: .8rem;
}
.logo {
    padding: 20px 40px;
    margin: 0;
}
.mgt20 {
    margin-top: 20px;
}
@media screen and (max-width: 1020px) {
    .navbar {
      display: none;
    }
}